---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
ReflowComments: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Right
